* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}
html {
  font-size: 85%; /*62.5%;*/ /*--- 1rem = 10px ---*/
}
/***MEDIA-QUERY***/
@media only screen and (max-width: 992px) {
  html {
    font-size: 80%;
  }
  .iframe--size {
    height: 400px;
  }
}
