main {
  min-height: 60vh;
}
.img--shadow {
  box-shadow: 1px 1px 5px 1px $gunmetal;
  &:hover {
    width: $img--ancho * 0.99;
    box-shadow: 1px 1px 5px 1px $pale-cerulean;
  }
}
.titulo {
  color: $gunmetal;
  font-size: $size-titulo;
  font-weight: 400;
}
/*Imagen titulo Home*/
.caja__bgImg {
  background-image: url(../machine_img.jpg);
  background-size: cover;
  height: 80vh;
  width: 100%;
}
.tituloHome {
  @extend .titulo;
  font-size: 5rem;
  font-weight: 500;
  color: $light-cyan;
  text-shadow: 0.25rem 0.25rem 0.012rem $gunmetal;
}
main p {
  color: $gunmetal;
  font-size: $size-titulo/2;
}
